{% extends "users/layout.html" %}
{% load static %}


{% block body %}
{% if message %}
<div>{{ message }}</div>
{% endif %}

<div class="wrapper fadeInDown">
  <div id="formContent">
        <form action="{% url 'login' %}" method="post">
          {% csrf_token %}
          <input class="fadeIn second", type="text", name="username", placeholder="Username">
          <input class="fadeIn third", type="password", name="password", placeholder="Password">
          <input class="fadeIn fourth", type="submit", value="Login">
        </form>
          <div id="formFooter">
            <a class="underlineHover" href="{% url 'register' %}">Create a new account?</a>
          </div>
  </div>
</div>
{% endblock %}



